body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Set the height of the body to cover the viewport */
    overflow: hidden; /* Hide overflow to prevent scrollbars */
    background: linear-gradient(90deg, #ff9933, #ffffff, #008000); /* Apply background to body */
    background-size: 200% 200%;
    animation: backgroundAnimation 6s linear infinite;
}

.homepage-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; /* Center the form horizontally and vertically */
    text-align: center;
}

/* Rest of your CSS remains unchanged */

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1 {
    color: #000080;
}

button {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 6px 12px; /* Adjusted padding for smaller size */
    font-size: 12px; /* Adjusted font size for smaller size */
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

button.officer {
    margin-bottom: 20px; /* Adjusted margin for better layout */
}

button.public {
    margin-top: 20px; /* Adjusted margin for better layout */
}

p {
    font-size: 14px; /* Adjusted font size for better visibility */
    color: #808080;
}

button.officer,
button.public {
    padding: 6px 12px; /* Adjusted padding for smaller size */
    font-size: 14px; /* Adjusted font size for smaller size */
}

.button.officer {
    margin-bottom: 20px; /* Adjusted margin for better layout */
}

.button.public {
    margin-top: 20px; /* Adjusted margin for better layout */
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: transparent;
    color: white;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icons a {
    margin: 0 10px;
    color: black;
    font-size: 24px;
}

.footer-icons a:hover {
    color: #007bff;
}

.footer-content {
    margin-top: 15px; /* Add margin to separate from the footer */
    
}


.government-logo {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    width: 100px; /* Adjust as needed */
    height: 100px; /* Ensure a square aspect ratio */
    border-radius: 50%; /* Make it a circle */
}
.language-select {
    position: absolute;
    top: 20px; /* Adjust top position as needed */
    right: 20px; /* Adjust right position as needed */
  }
  
  .language-select select {
    padding: 8px 12px; /* Adjust padding for better appearance */
    font-size: 14px; /* Adjust font size for better visibility */
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
  }
  
  .language-select select:hover {
    background-color: #f0f0f0; /* Change background color on hover for better interaction */
  }