/* Navbar.css */
.navbar {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Add padding */
    margin-top: 20px; /* Add margin from the top */
    position: sticky; /* Make the navbar sticky */
    top: 0; /* Stick the navbar to the top of the viewport */
    z-index: 1000; /* Ensure the navbar stays above other content */
  }
  
  .navbar h1 {
    color: white; /* Set text color to white */
    margin: 0; /* Remove margin */
  }
  
  .navbar ul {
    list-style: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    display: flex; /* Ensure the list items are displayed in a row */
  }
  
  .navbar li {
    margin-left: 20px; /* Add margin between list items */
  }
  
  .navbar li button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .navbar li button:hover {
    color: #ddd; /* Change text color on hover */
  }
  