/* Sidebar.css */

.sidebar {
    width: 250px;
    height: calc(100vh - 80px); /* Subtract the height of the top navbar */
    background-color: #222; /* Dark gray background color */
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    height: 100vh;
  }
  
  .sidebar ul {
    list-style-type: none;
    margin: 10px;
  }
  
  .sidebar li {
    margin-bottom: 10px;
    padding: 2px;
    
  }
  
  .sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  .sidebar li:hover {
    background-color: #506062; /* Darker shade on hover */
  }
  